// 引入清除默认样式
@import './reset.scss';

// 滚动条的外观设置
::-webkit-scrollbar {
  width: 10px; // 滚动条的宽度
}

::-webkit-scrollbar-track {
  background-color: #e7e3e3; // 滚动条的背景颜色
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: $base-menu-backgound-color; // 滚动滑块的颜色
  border-radius: 10px;
}

// 覆盖左侧"菜单项"中 element-plus 组件的默认样式
.el-menu-item:hover,
.el-sub-menu__title:hover {
  background-color: transparent !important;
}